<div>
  <div>Welcome to <%=@url %>, <%= @username %></div>

  <br />

  <div>===============================================</div>

  <br />

  <div>
    You have successfully signed up to divisionly.net,
  </div>

  <div>
    your username is: <%= @email %>.
  </div>

  <br />

  <div>
    To login to the site, just follow this link: <%= @url %>.
  </div>

  <br />
  <br />
  <br />

  <div>
    Thanks for joining and have a great day!
  </div>
</div>